<html lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:pp="http://typo3.org/ns/JWeiland/Pfprojects/ViewHelpers"
			data-namespace-typo3-fluid="true">

<div class="list scroll-container gridright">
	<f:for each="{paginator.paginatedItems}" as="project">
		<div class="marginbottom scroll-item clearfix">
			<div class="thumbnail grid_2 floatleft">
				<figure class="gridrightstd">
					<f:image src="{f:uri.resource(path: 'Icons/{project.status}.png')}" width="64" title="{f:translate(key: 'tx_pfprojects_domain_model_project.status.{project.status}')}" />
				</figure>
			</div>
			<div class="grid_10 floatleft rulerafter">
				<h2 class="noborder nomargin">
					<f:link.action pageUid="{settings.pidOfDetailPage}" action="show" arguments="{project: project}">
						{project.title}
					</f:link.action>
				</h2>
				<dl class="nomargin">
					<dd>
						<f:translate key="tx_pfprojects_domain_model_project.start_date" />: {project.startDate -> f:format.date(format: 'd.m.Y')}
					</dd>
					<dd>
						<f:if condition="{project.areaOfActivity}">
							<f:translate key="tx_pfprojects_domain_model_project.area_of_activity" />:
							<f:for each="{pp:getAreasOfActivity(areasOfActivity: project.areaOfActivity)}" as="activity">
								<br>{activity.title}
							</f:for>
						</f:if>
					</dd>
				</dl>
			</div>
		</div>
	</f:for>
	<f:render partial="Component/Pagination" arguments="{pagination: pagination, pages: pages, paginator: paginator}" />
</div>
</html>
