<html lang="en"
			xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:map="http://typo3.org/ns/JWeiland/Maps2/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:if condition="{project.txMaps2Uid}">
	<map:widget.poiCollection poiCollection="{project.txMaps2Uid}" override="{settings: {mapWidth: '100%', mapHeight: '300', zoom: '14'}}" />
	<f:link.action action="show" controller="Project" arguments="{project: project}" pageUid="{settings.pidOfListPage}"><f:translate key="backToDetails" /></f:link.action><br />
</f:if>
</html>
