services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  JWeiland\Pfprojects\:
    resource: '../Classes/*'
    exclude: '../Classes/Domain/Model/*'

  JWeiland\Pfprojects\EventListener\AddPaginatorEventListener:
    tags:
      - name: event.listener
        event: JWeiland\Pfprojects\Event\PostProcessFluidVariablesEvent
